{% extends "adminbase.twig" %}

{% block title %}
    Сельский туризм|Поставщик
{% endblock %}

{% block content %}
	<div id="container" class="clearfix">
		<div class="name">
			<input name="area" value="{{supplier.getFio()}}" maxlength="200" disabled/>
		</div>
		<div class="navigation clearfix">
			<div class="nav-item">
				<a href="/house">
					<img src="web/img/1.jpg">
					<span>Добавить домик</span>
				</a>
			</div>
			<div class="nav-item">
				<a href="/subsupplier">
					<img src="web/img/2.jpg">
					<span>Список субподрядчиков</span>
				</a>
			</div>
			<div class="nav-item">
				<a href="/request">
					<img src="web/img/3.jpg">
					<span>Список одобренных заявок</span>
				</a>
			</div>
			<div class="nav-item">
				<a href="/service">
					<img src="web/img/4.png">
					<span>Предоставляемые услуги</span>
				</a>
			</div>
		</div>
		<div>
			<form method="POST">
				<input type="hidden" name="_method" value="PUT"/>
				<div class="region">
					<span>Регион</span>
					<select name="id_region">
						{% for region in regions %}
							{% if region.getId() == homestead.getRegion() %}
								<option value="{{region.getId()}}" selected>{{region.getName()}}</option>
							{% else %}
								<option value="{{region.getId()}}">{{region.getName()}}</option>
							{% endif %}
						{% endfor %}
					</select>
					<span>Населенный пункт</span><input name="area" value="{{homestead.getArea()}}" maxlength="200"/>
					<span>Адрес</span><input name="address" value="{{homestead.getAddress()}}" maxlength="200"/>
				</div>
				<div class="count-houses">
					<h3>Количество свободных мест в домике</h3>
					{% for house in houses %}
						<div class="jiating">
							<img src="web/img/home.png">
							<span><a href="/house/edit/{{house.getId()}}">{{ house.getName() }}</a></span> 
							<select name="{{ house.getId() }}">
								{% for place in 0..house.getPlace() %}
									{% if place == house.getEmptyPlace() %}
										<option value="{{ place }}" selected="true" >{{ place }}</option>
									{% else %}
										<option value="{{ place }}">{{ place }}</option>
									{% endif %}
								{% endfor %}
							</select>
							из {{ house.getPlace() }}
						{% endfor %}
					</div>
				</div>
				<div class="tourism-type">
					<h3>Тип туризма</h3>
					{% for type in tourismTypes %}
						<div class="tType">
							{% if type.getActive() == 1%}
								<input type="checkbox" name="type-{{ type.getId() }}" id="check{{loop.index}}" checked><label for="check{{loop.index}}">{{ type.getTourismTypeName() }}</label>
							{% else %}
								<input type="checkbox" name="type-{{ type.getId() }}" id="check{{loop.index}}"><label for="check{{loop.index}}">{{ type.getTourismTypeName() }}</label>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<button type="submit" class="save">Сохранить</button>
			</form>
		</div>
	</div>
{% endblock %}
