{% extends "adminbase.twig" %}

{% block title %}
    Сельский туризм|Поставщик
{% endblock %}

{% block content %}
    <a href="/house">Добавить домик</a>
    <a href="/subsupplier">Список субподрядчиков</a>
    <a href="/request">Список одобренных заявок</a>
    <a href="/service">Предоставляемые услуги</a>

    <div>
        <form method="POST">
            <input type="hidden" name="_method" value="PUT"/>
            <span>Регион</span>
            <select name="id_region">
                {% for region in regions %}
                    {% if region.getId() == homestead.getRegion() %}
                        <option value="{{region.getId()}}" selected>{{region.getName()}}</option>
                    {% else %}
                        <option value="{{region.getId()}}">{{region.getName()}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <span>Населенный пункт</span><input name="area" value="{{homestead.getArea()}}" maxlength="200"/>
            <span>Адрес</span><input name="address" value="{{homestead.getAddress()}}" maxlength="200"/>

            <h3>Количество свободных мест в домике</h3>
    		{% for house in houses %}
    			<span><a href="/house/edit/{{house.getId()}}">{{ house.getName() }}</a></span> 
    			<select name="{{ house.getId() }}">
	    			{% for place in 0..house.getPlace() %}
		    			{% if place == house.getEmptyPlace() %}
		    				<option value="{{ place }}" selected="true" >{{ place }}</option>
		    			{% else %}
		    				<option value="{{ place }}">{{ place }}</option>
		    			{% endif %}
					{% endfor %}
				</select>
                из {{ house.getPlace() }}
    		{% endfor %}

            <h3>Тип туризма</h3>

            {% for type in tourismTypes %}
                {% if type.getActive() == 1%}
                    <input type="checkbox" name="type-{{ type.getId() }}" checked>{{ type.getTourismTypeName() }}
                {% else %}
                    <input type="checkbox" name="type-{{ type.getId() }}">{{ type.getTourismTypeName() }}
                {% endif %}
            {% endfor %}
            <button type="submit">Сохранить</button>
    	</form>
    </div>
{% endblock %}
